<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        カタログ一覧
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @catalogs.each do |catalog| %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= link_to catalog_path(catalog) do %>
                  <%= attachment_image_tag catalog, :image %>
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <%= link_to user_path(catalog.user.id) do %>
                      <%= attachment_image_tag catalog.user, :profile_image, fallback: "no-image.png" %>
                    <% end %>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="title"><%= link_to catalog.user.username, user_path(catalog.user.id) %></div>
                </div>
                <div class="media-content">
                  <% if current_user.already_favorited?(catalog) %>
                    <%= link_to catalog_favorites_path(catalog), method: :delete do %>
                      <i class="fas fa-heart"></i>
                    <% end %>
                  <% else %>
                    <%= link_to catalog_favorites_path(catalog), method: :post do %>
                      <i class="fas fa-heart"></i>
                    <% end %>
                  <% end %>
                  <%= catalog.favorites.count %>
                </div>
              </div>
              <div class="content">
                <time><%= catalog.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
